/* DEFAULT  */

*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

img{

    width: 100%;
}

/* ROOT VARIABLE */

:root{


--white : white; 
--blue : rgb(0, 89, 255); 
--black: black;
--light-gray: lightgray;



}






/* MAIN BLOCKS */


/* Setting Header Section  */

header{

background-color: rgb(1, 80, 226);
width: 100%; 
height: 15vh;
display: flex;
align-items: center;
padding-left: 1rem;
position: fixed;
justify-content: flex-start;
align-content: flex-start;
z-index: 99;


}

.fa-bars::before {

display: inline-block;
transform: scale(1.5);
}


.fa-java:before {

display: inline-block;
transform: scale(2.5);
margin-right: 2px;
padding-bottom: 7px;

}



header h2{

margin-right: 1em;
margin-left: 0.8rem;



}


/* Setting Main Section  */


.container {

width: 80%;
height: 100vh;
margin: 0 auto;
position: relative;
top: 15vh;
text-align: center;

}

.container h1 {

padding-right: 25%;
padding-left: 25%;
text-align: center;
margin-bottom: 25px; 

}



.container span {

margin-right: 5px;
margin-left: 25%;
margin-right: 25%;
}

.mg-top span {

margin: 0;

}


.info-link{

padding-left: 14%;
padding-right: 14%;

}



.v-line{

width: 2px;
height: 12px;
background-color: var(--blue);


}

.img-central{

padding-left: 12%;
padding-right: 12%;
margin-top: 15px;

}











/* UTILITY  */


.btn{

display: inline-block;
padding-left: 1.5em;
padding-right: 1.5em;
padding-top: 0.5em;
padding-bottom: 0.5em;
border-radius: 5px;


}



.text-white{

 color: var(--white); 
}

.text-blue{

color: var(--blue);

}

.text-black{

color: var(--black);

}

.text-lightgray{

color: var(--light-gray); 

}


/* Background-colors */


.back-green{


background-color: rgb(3, 177, 96);


}





/* font-style  */

.small-text{

font-size: small;

}

.large-text{

font-size: large;

}

.no-line{

text-decoration: none;

}

.inline-block{


display: inline-block;

}


.mg-top{

margin-top: 25px;

}




.mg-cont{

padding-right: 25%;
 padding-left: 25%;

}