/* DEFAULT  */

*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

img{

    width: 100%;
}

/* ROOT VARIABLE */

:root{


--white : white; 
--blue : rgb(0, 89, 255); 
--black: black;
--light-gray: lightgray;



}






/* MAIN BLOCKS */


/* Setting Header Section  */

header{

background-color: rgb(1, 80, 226);
width: 100%; 
height: 20vh;
display: flex;
align-items: center;
padding-left: 1rem;
position: fixed;
justify-content: flex-start;
align-content: flex-start;
z-index: 99;


}

.fa-bars::before {

display: inline-block;
transform: scale(1.5);
}


.fa-java:before {

display: inline-block;
transform: scale(2.5);
margin-right: 2px;
padding-bottom: 7px;

}



header h2{

margin-right: 1em;
margin-left: 0.8rem;



}


/* Setting Main Section  */

main{

height: 130vh;


}



.container {

width: 80%;
height: 100vh;
margin: 0 auto;
position: relative;
top: 25vh;
text-align: center;

}

.container h1 {

padding-right: 25%;
padding-left: 25%;
text-align: center;
margin-bottom: 25px; 

}



.container span {

margin-right: 5px;
margin-left: 25%;
margin-right: 25%;
}

.mg-top span {

margin: 0;

}


.info-link{

padding-left: 14%;
padding-right: 14%;

}



.v-line{

width: 2px;
height: 12px;
background-color: var(--blue);


}

.img-central{

padding-left: 5%;
padding-right: 5%;
margin-top: 15px;

}


/* SETTING FOOTER */

.kit-java{

width: 100%;
background-color: gray;
margin-top: 25px;
padding-left: 20px;
padding-top: 25px;
padding-bottom: 25px;

}

.kit-java .fa-java:before{

padding-left: 4px;
margin-bottom: 10px;

}

.kit-java h3{

padding-bottom: 10px;


}

.container-2{

width: 70%;
text-align: center;
padding-top: 20px;
margin: auto;

}

.footer-link{

display: flex;
align-content: flex-start;
justify-content: space-between;
align-items: center;

}

.central-item{

justify-content: center;
column-gap: 20px; 
}


.fa-copyright::before{

display: inline-block;
transform: scale(0.7);

}


















/* UTILITY  */


.btn{

display: inline-block;
padding-left: 1.5em;
padding-right: 1.5em;
padding-top: 0.5em;
padding-bottom: 0.5em;
border-radius: 5px;


}



.text-white{

 color: var(--white); 
}

.text-blue{

color: var(--blue);

}

.text-black{

color: var(--black);

}

.text-lightgray{

color: var(--light-gray); 

}


/* Background-colors */


.back-green{


background-color: rgb(3, 177, 96);


}





/* font-style  */

.small-text{

font-size: small;

}

.large-text{

font-size: large;

}

.no-line{

text-decoration: none;

}

.inline-block{


display: inline-block;

}


.mg-top{

margin-top: 25px;

}


.mg-right-10{


margin-right: 10px;;


}

.mg-cont{

padding-right: 25%;
 padding-left: 25%;

}

.border-white{

border: 1px solid white;

}

.size-13{

font-size: 13px;


}